body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.movie-icon {
    font-size: 50px;
    color: #333;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    list-style-type: none;
    padding: 0;
}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    padding: 10px;
    /* margin-right: auto; */
}

nav a {
    text-decoration: none;
    padding: 8px 16px;
    background: #eee;
    color: #333;
    border-radius: 5px;
}

nav a.active {
    background: #007bff;
    color: #fff;
}

.tab-content-container {
    padding: 16px;
}

.tab-content {
    display: none;
}

.button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 95%;
}

.button-container button {
    width: auto;
}

/* Style the image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 18%;
    object-fit: cover;
    margin: 10px;
}

/* Style the images */
.movie-item img {
    max-width: 100%;
    max-height: 100%;
}

.movie-title {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    margin: 0px;
}

.release-date {
    font-family: "Times New Roman", Times, serif;
    font-size: small;
    margin: 0px;
}