body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.movie-icon {
    font-size: 50px;
    color: #333;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
    list-style-type: none;
    padding: 0;
}

nav li {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    max-height: 100%;
}


nav li p {
    pointer-events: none;
}

nav li>div {
    pointer-events: none;
}

.tab-link {
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    padding: 8px 16px;
    background: #eee;
    color: #333;
    border-radius: 5px;
    font-size: large;
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

.likedlist-count {
    top: 5px;
    right: 5px;
    padding: 0;
    margin: 0;
    color: red;
}

nav li.active {
    background: #007bff;
    color: #fff;
}


.likedlist-count {
    position: absolute;
}

.tab-content-container {
    padding: 16px;
}

.tab-content {
    display: none;
    /* rotation */
    backface-visibility: hidden;
    transform-origin: center;
    transition: transform 0.5s;
}

.tab-content.visible {
    display: block;
}

.tab-content.rotate-out {
    transform: rotateY(180deg);
}

.tab-content.rotate-in {
    transform: rotateY(-180deg);
}


.button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 95%;
}

.button-container button {
    width: auto;
}

/* Style the image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 18%;
    object-fit: cover;
    margin: 10px;
}

.movie-item button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin-top: 0;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: #f1f1f1;
    border: none;
    opacity: 0.9;
    background: transparent;
}

.movie-item:hover button {
    display: inline-block;
}

/* Style the images */
.movie-item img {
    max-width: 100%;
    max-height: 100%;
}

.movie-title {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    margin: 0px;
}

.release-date {
    font-family: "Times New Roman", Times, serif;
    font-size: small;
    margin: 0px;
}

.bg-container {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
}

.bg-content {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    width: 1280px;
    height: 720px;
}

.bg-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* This sets the background color to black with 50% opacity */
    z-index: 1;
}

.bg-content .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    /* This sets the background to transparent */
    z-index: 2;
}

.poster-bg {
    padding: 10px;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin-left: 50px;
    z-index: 100;
}

.text-bg {
    padding: 10px;
    height: 98%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.title-bg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    color: white;
    padding: 0px;
    height: 6%;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 0px;
    text-align: center;

}

.tags-bg {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px;
    height: 5%;
    width: 80%;
    margin: 0px;
}

.tags-bg li {
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.intro-bg {
    font-size: 20px;
    color: white;
    padding: 20px;
    height: 30%;
    width: 80%;
    margin: 0px;

}

.producer-bg {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    height: 10%;
    width: 80%;
    margin: 0px;
    background-color: rgb(240, 233, 233);
}

.producer-bg li img {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
    z-index: 100;
}

.likedlist-container {
    display: flex;
    flex-wrap: wrap;
}

.likedlist-container>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 15%;
    object-fit: cover;
    margin: 10px;
}

.likedlist-container>div img {
    max-width: 100%;
    max-height: 100%;
}

.likedlist-title {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    margin: 0px;
}

.likedlist-release-date {
    font-family: "Times New Roman", Times, serif;
    font-size: small;
    margin: 0px;
}

.likedlist-cfg {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.likedlist-cfg:before {
    content: "\f013";
    font-style: normal;
}

.draglist-container {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
}

.draglist {
    list-style: none;
    text-align: center;
    width: 80%;
}

.draglist li {
    cursor: grab;
    margin: 5px;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(226, 215, 215);
}

.draglist-close {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
}